<article class="media">
    <% if (has_thumbnail(post)) { %>
    <a href="<%- url_for((post.link?post.link:post.path)) %>" class="media-left">
        <p class="image is-64x64">
            <img class="thumbnail" src="<%= get_thumbnail(post) %>" alt="<%= post.title %>">
        </p>
    </a>
    <% } %>
    <div class="media-content">
        <div class="content">
            <time class="has-text-grey is-size-7 is-block is-uppercase" datetime="<%= date_xml(post.date) %>"><%= date(post.date) %></time>
            <a href="<%- url_for((post.link?post.link:post.path)) %>" class="has-link-black-ter is-size-6"><%= post.title %></a>
            <div class="level article-meta is-mobile">
                <div class="level-left">
                    <% if (post.categories && post.categories.length) { %>
                    <div class="level-item is-size-7 is-uppercase">
                    <%- list_categories(post.categories, {
                        class: 'has-link-grey ',
                        show_count: false,
                        style: 'none',
                        separator: ' / '
                    }) %>
                    </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</article>
